@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    background-color:beige;
    font-family: 'Open Sans';
    color: black;
    margin: 0%;
}

h1,h2,h3 {
    font-family: 'Open Sans';
    margin: 0%;
}

.header {
    background: cover no-repeat;;
}

img{
    height: 20%;
    width: 20%;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* navigation links*/


#main > h2 {
    margin: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
}

a {
    color: black;
}


.lashes {
    background-image: url('./images/nails.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 18%;
    height: 200px;
    overflow: hidden;
    display: block;
    position:relative;
    margin: 400px 100px; 
    font-weight: bold;
}

.lashes:hover {
    font-size: 18px;
}

.text-center {
    text-align: center;
}
.about {
    background-image: url('./images/beauty-background.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 18%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 300px 20px;
    font-weight: bold;
}

.about:hover {
    font-size: 18px;
}

.gallery {
    background-image: url('./images/gallery.jpeg');
    text-decoration: underline;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 18%;
    height: 200px;
    overflow: hidden;
    display: block;
    position:relative;
    margin: 50% 0.5% 50%;
    font-weight: bold;
}

.gallery:hover {
    font-size: 18px;
}

.review {
    background-image: url('./images/review.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 18%;
    height: 200px;
    overflow: hidden;
    display: block;
    position:relative;
    margin: 50% 0.5%;
    font-weight: bold;
}
  

.review:hover {
    font-size: 18px;
}


div {
    float: left;
    padding: 0.2%;
    margin-bottom: 100px;
}

/* about-us*/

.about-us > div {
    float: left;

}

.about-us > h2 {
    text-decoration: underline;

}

div > h2 {
    text-decoration: underline;
}


ul {
    list-style-type: none;
}

#find-me {
    height: 300%;
    width: 100%;
    margin-bottom: 250px;
}

div > p {
    text-align: left;
    float: left;
}


/* footer */

footer {
    background-color: lightgrey ;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

footer > #contact {
   margin: 10% 1% 5%;
    font-size: 10px;
    text-align: left;
    float: left;
}

.address {
    margin: 5% 0 1%;
}
.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 50px;
    padding: 1%;
    color: beige;
}
